@model Assignment__cumilative_1_csharp.Models.Student


<!-- Displaying all the details of Selected teacher from list.cshtml on this webpage  -->

<h1>@Model.S_FName @Model.S_LName</h1>
<p>Student Number : @Model.S_Num.ToString()</p>
<p>Enrollment Date : @Model.S_E_Date.ToString("yyyy-M-d")</p>
