@model Assignment__cumilative_1_csharp.Models.Student


<!-- Displaying all the details of Selected teacher from list.cshtml on this webpage  -->

<h1>@Model.student_fname @Model.student_lname</h1>
<p>Student Number : @Model.student_number.ToString()</p>
<p>Enrollment Date : @Model.student_enroll_dt.ToString("yyyy-M-d")</p>
